<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title mdl-badge">S2IT - Front-end Teste | Wallet Control</span>      
    </div>
  </header>  

  <main class="mdl-layout__content">
    <div class="page-content">
      <div class="s2it-card principal-card mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">         

          <div class="balance">
            <span class="mdl-typography--display-1">Your account balance is:</span>
            <span class="mdl-typography--display-2">{{main.balance}}</span>
          </div>         

        </div>
      </div>

      <div class="s2it-card mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">         

          <form id="wallet-action-form">
            <div class="mdl-textfield mdl-js-textfield">
              <input class="mdl-textfield__input" type="text" pattern="-?[0-9]+(\,[0-9]{2})?" id="sample2" ng-model="main.operationFieldValue">
              <label class="mdl-textfield__label" for="sample2">Number...</label>
              <span class="mdl-textfield__error">Input is not a number!</span>
            </div>
          </form>

        </div>

        <!-- <div class="mdl-card__supporting-text">
          I spent sometime learning about this mdl framework, you can see?
        </div> -->

        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect
          mdl-button--raised" ng-click="main.save()">
            Save
          </a>
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="main.persist()">
            Persist
          </a>
        </div>

        <!-- <div class="mdl-card__menu">
          <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">share</i>
          </button>
        </div> -->

      </div> 

      <div class="s2it-card operation-card mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h2 class="mdl-typography--title">History</h2>
          <div class="operations-table">
            <div class="empty-msg" ng-show="main.operations.length==0">
              <span class="mdl-typography__display-1">Nenhuma transação registrada</span>
            </div>            
            <div class="row" ng-repeat="row in main.operations track by $index">
              <div class="operation-type">{{row.type}}</div>
              <div class="value">{{row.value}}</div>
            </div>
          </div>
          
        </div>

      </div>     
    </div>
  </main>  

</div>
